<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2 class="p-2">My requests to join :</h2>
<div class="card m-2" *ngFor="let item of trips">
  <div class="card-body">
    <h1 class="card-titel text-capitalize">{{ item.tripTitle }}</h1>
    <p *ngIf="item.adminConfirm === '0'; else elseTmpl">
      <i class="fa fa-clock-o text-primary"></i>
      <span> waiting to admin confirmation ! </span>
    </p>
    <ng-template #elseTmpl>
      <p>
        <span>
          <i class="fa fa-check text-success fw-bold"></i>
        </span>
        <span class="text-success fw-bold"> Admin confirmed ! </span>
      </p>
    </ng-template>

    <div>
      <button mat-raised-button (click)="zoomTrip(item.tripTitle)">view</button>
    </div>
  </div>
</div>
