<h2 class="title-bar">My requests to join !</h2>
<ng-container *ngIf="trips.length > 0; else emptyList">
  <div class="card m-2" *ngFor="let item of trips">
    <div class="card-body">
      <h1 class="card-titel text-capitalize">{{ item.tripTitle }}</h1>
      <p *ngIf="item.adminConfirm === '0'; else elseTmpl">
        <i class="fa fa-clock-o text-primary"></i>
        <span> waiting to admin confirmation ! </span>
      </p>
      <ng-template #elseTmpl>
        <p>
          <span>
            <i class="fa fa-check text-success fw-bold"></i>
          </span>
          <span class="text-success fw-bold"> Admin confirmed ! </span>
        </p>
      </ng-template>

      <div>
        <button mat-raised-button (click)="zoomTrip(item.tripTitle)">
          view
        </button>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #emptyList>
  <h4 class="text-muted p-2 m-4">Dont have any request !</h4>
  <div>
    <img src="../../../assets/img/empty.png" />
  </div>
</ng-template>
