<div class="w-100 header-fix row z-index bg-dark shadow-sm">
  <div class="col-md-6 position-static text-center">
    <div class="d-flex w-100 flex-nowrap">
      <div class="w-50 flex-cell">
        <span
          class="font-antique text-light text-large"
          [routerLink]="[{ outlets: { secondRouter: 'lazy/setting' } }]"
        >
          CROWN
        </span>
      </div>
      <div class="w-100 flex-cell w-100 p-1">
        <pe-search
          class="w-100"
          (resultOutput)="resultOutput($event)"
        ></pe-search>
      </div>
    </div>
  </div>
  <div
    *ngIf="!userLoginInformation?.id; else elseLogin"
    class="col-md-6 text-center flex-cell"
  >
    <div class="flex-50 w-100">
      <div class="child">
        <span
          class="text-meduim link-light"
          [routerLink]="[{ outlets: { secondRouter: 'lazy/login' } }]"
        >
          {{ 'login' | translate }}</span
        >
        <span class="text-meduim text-light">|</span>
        <span
          class="text-meduim link-light"
          [routerLink]="[{ outlets: { secondRouter: 'lazy/signup' } }]"
        >
          {{ 'signup' | translate }}</span
        >
      </div>
      <div class="child">
        <span
          class="link-light text-meduim"
          (click)="changeLanguage(languages[languageIndex].title)"
        >
          {{ 'titles' | translate }}
        </span>
      </div>
    </div>
  </div>
  <ng-template #elseLogin class="col-md-4 text-right">
    <div class="col-md-6 text-right animated-fadein p-2">
      <span
        class="link-light font-darkmagic"
        (click)="changeLanguage(languages[languageIndex].title)"
      >
      </span>
      <button
        (click)="menuShow = !menuShow"
        mat-button
        class="p-2 bg-dark text-light"
      >
        <mat-icon>arrow_drop_down</mat-icon>
        <span class="m-2 fw-bold"
          >Hi ! {{ userLoginInformation?.name | titlecase }}</span
        >
        <span class="m-2">{{ userLoginInformation?.lname }}</span>
        <img
          [src]="
            'https://burjcrown.com/drm/travel/users/profile/' +
            userLoginInformation?.id +
            '/1.jpg?id=1701858594491'
          "
          class="img-icon rounded-circle"
        />
      </button>
      <div class="position-relative d-inline-block menu" *ngIf="menuShow">
        <div class="position-absolute">
          <p (click)="routeHome()">
            <span>
              <i class="fa fa-home fa-2x" aria-hidden="true"></i>
            </span>
            <span>
              {{ 'home' | translate }}
            </span>
          </p>
          <p (click)="menuShow = false">
            <span>
              <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
            </span>
            <span
              (click)="menuShow = false"
              [routerLink]="[{ outlets: { secondRouter: 'lazy/setting' } }]"
            >
              {{ 'settings' | translate }}
            </span>
          </p>
          <p (click)="savedLocations()">
            <span>
              <i class="fa fa-2x fa-gratipay" aria-hidden="true"></i>
            </span>
            <span>
              {{ 'savelocation' | translate }}
            </span>
          </p>
          <p
            (click)="menuShow = false"
            [routerLink]="[{ outlets: { secondRouter: 'lazy/mytrips' } }]"
          >
            <span class="big-link">
              {{ 'mytrips' | translate }}
            </span>
          </p>
          <p
            (click)="menuShow = false"
            [routerLink]="[{ outlets: { secondRouter: 'lazy/myrequests' } }]"
          >
            <span class="big-link">
              {{ 'myrequests' | translate }}
            </span>
          </p>
          <p
            (click)="menuShow = false"
            [routerLink]="[{ outlets: { secondRouter: 'lazy/trips' } }]"
          >
            <span class="big-link">
              {{ 'trips' | translate }}
            </span>
          </p>
          <p
            (click)="menuShow = false"
            [routerLink]="[{ outlets: { secondRouter: 'lazy/messages' } }]"
          >
            <span class="big-link">
              {{ 'mymessages' | translate }}
            </span>
          </p>
          <p (click)="logout()">
            <span>
              <i class="fa fa-2x fa-sign-out" aria-hidden="true"></i>
            </span>
            <span>
              {{ 'logout' | translate }}
            </span>
          </p>
        </div>
      </div>
    </div>
  </ng-template>
</div>
