@media only screen and (max-width: 1200px) {
    .flex-cell{
        justify-content: left;
    }
    .flex-50>div{
        flex-basis: 50%;

    }
    .child:first-child{
        text-align: left !important;
    }
    .child:last-child{
        text-align: right !important;
    }

  
}
@media only screen and (min-width: 1200px) {
    .flex-50{
        justify-content: right;
    }

    .flex-50>div{
       text-align: right; 
    }
}
span{
    cursor: pointer;
    vertical-align: middle;
    padding: 0.4em;
}
.img-icon{
    width:60px;
    height: 45px;
}
.img-flag{
    width:1.8em;
    height:1.2em;
}
.position-absolute{
    background-color: white;
    width:200px;
    right:0;
    top:10;
    z-index: 809;
}
 .position-fixed{
    top: 0;
    z-index: 1200;
    background-color: white

 }
 p{
    text-align: left;
    border-bottom: solid 1px #faf8f8;
    margin: 1em;
    cursor: pointer; 
 }

 .language{
    cursor: pointer;
    transition: transform 0.7s ease-in-out;
    
 }
 .language:hover{
    transform: rotate(360deg);
}
::ng-deep{
    .mat-input-element, .mat-input-element:hover{
        border-bottom: solid 1px white !important;
        outline: none !important;
    }
    .mat-form-field-underline {
        display: block;
        background-color: rgb(219, 214, 214) !important
    }
}



.menu{
    z-index: 9000 !important;
}
.header-fix{
    position: fixed;
    left: 0;
    top:0;
    z-index: 6000 !important;
    width: 100% !important;
}
.row{
    margin: 0 !important;
}

.font-darkmagic{
    justify-content: right !important;
}
.flex-50{
    display: flex;
}

