<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div *ngFor="let item of tripRequest" class="requests-div bg-light m-2">
  <div>
    <p>
      <span class="fw-bold text-capitalize"
        >{{ item.reqUserName }} {{ item.family }}
      </span>
      <span> has joined to </span>
      <span class="fw-bold text-capitalize">
        {{ item.tripTitle }}
      </span>
      <span>
        <a
          *ngIf="item.adminConfirm === '0'; else elseTmpl"
          (click)="
            confirmTripRequest(item.ownerid, item.tripTitle, item.uid, '1')
          "
          class="btn btn-success m-2 cursor-pointer ml-4"
          >Confirm</a
        >
        <ng-template #elseTmpl>
          <a
            (click)="
              confirmTripRequest(item.ownerid, item.tripTitle, item.uid, '0')
            "
            class="btn btn-warning m-2 cursor-pointer ml-4"
            >Reject</a
          >
        </ng-template>
      </span>
    </p>
  </div>
</div>
