<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2 class="title-bar">Requests to join !</h2>
<ng-container *ngIf="tripRequest.length > 0; else emptyList">
  <div *ngFor="let item of tripRequest" class="requests-div bg-light m-2">
    <div>
      <p>
        <span class="fw-bold text-capitalize"
          >{{ item.reqUserName }} {{ item.family }}
        </span>
        <span> has joined to </span>
        <span class="fw-bold text-capitalize">
          {{ item.tripTitle }}
        </span>
        <span>
          <a
            *ngIf="item.adminConfirm === '0'; else elseTmpl"
            (click)="
              confirmTripRequest(item.ownerid, item.tripTitle, item.uid, '1')
            "
            class="btn btn-success m-2 cursor-pointer ml-4"
            >Confirm</a
          >
          <ng-template #elseTmpl>
            <a
              (click)="
                confirmTripRequest(item.ownerid, item.tripTitle, item.uid, '0')
              "
              class="btn btn-warning m-2 cursor-pointer ml-4"
              >Reject</a
            >
          </ng-template>
        </span>
      </p>
    </div>
  </div>
</ng-container>

<ng-template #emptyList>
  <h4 class="text-muted p-2 m-4">Nobody want to join you !</h4>
  <div>
    <img src="../../../assets/img/empty.png" />
  </div>
</ng-template>
