.row>div{
    flex-basis: 33%;
}
.img-icon {
    width: 10em;
    height: 10em;
    opacity: 0.9;
}
.d-relative{
    position: relative ;
}


.on-layer{
    position: absolute;
    width: 100%;
    z-index: 440;
    
}
.text-layer{
    left: 0;
    bottom: 0;
    color: var(--COLOR-LIGHT);
    background-color: rgba(14, 7, 78, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}  

.row{
    margin-left:0 !important
}