<div class="bg-light w-100 p-2">
  <div class="row w-100">
    <div class="col-md-6">
      <form [formGroup]="formSearchTrip">
        <mat-form-field class="search-input w-75">
          <mat-label> {{ 'Search Location' }}</mat-label>
          <input matInput formControlName="itemToSearch" class="w-100" />
        </mat-form-field>
      </form>
    </div>
    <div class="col-md-6">
      <div class="d-flex">
        <div class="w-100">
          <pe-advanced-autocomplete
            (results)="changeLocationTypes($event)"
          ></pe-advanced-autocomplete>
        </div>
        <div style="flex-basis: 10%" class="flex-cell">
          <mat-chip *ngIf="selectedType.length > 0">
            {{ selectedType }}
            <i
              class="fa fa-close cursor-pointer"
              (click)="fetchLocations()"
            ></i>
          </mat-chip>
        </div>
      </div>
    </div>
  </div>

  <div class="w-100">
    <div class="inner">
      <pagination-controls
        [autoHide]="true"
        [responsive]="true"
        previousLabel=""
        nextLabel=""
        (pageChange)="page = $event"
      ></pagination-controls>
      <div
        *ngFor="
          let l of locatinListFiltered
            | paginate : { itemsPerPage: 6, currentPage: page }
        "
        class="m-2 p-3 bg-light"
      >
        <div class="row">
          <div class="col-md-6">
            <div class="border-bottom">
              <span class="fw-bold text-capitalize">
                {{ l.title }}
              </span>
            </div>
          </div>
          <div class="col-md-6 text-right">
            <ng-container *ngFor="let rate of starRates(l.score)">
              <i class="fa fa-star" *ngIf="rate === '1'"></i>
            </ng-container>
          </div>
        </div>

        <div class="p-4">
          <div>
            <span class="text-capitalize">Type : {{ l.type }}</span>
          </div>

          <div>
            <span>Address : </span>
            <span class="fw-bold text-capitalize">
              {{ l.country }} {{ l.city }}
            </span>
            <span>
              {{ l.county }}
              {{ l.district }}
              {{ l.street }}
            </span>
          </div>
          <div *ngIf="l.email">
            <span class="text-capitalize">Email : {{ l.email }}</span>
          </div>

          <div *ngIf="l.phone">
            <span>Phone : {{ l.phone }}</span>
          </div>
        </div>
        <div>
          <button mat-raised-button (click)="selectLocation(l.lat, l.lon)">
            View on map
          </button>
        </div>
      </div>

      <pagination-controls
        [autoHide]="true"
        [responsive]="true"
        previousLabel=""
        nextLabel=""
        (pageChange)="page = $event"
      ></pagination-controls>
    </div>
  </div>
</div>
