<div *ngIf="setting.loadingProgress">
  <pe-loading-progress [mode]="'full'"></pe-loading-progress>
</div>

<div class="w-100 relative">
  <div class="bg-light w-100">
    <pe-header
      (savedLocation)="savedLocation($event)"
      (resultOutputs)="resultOutputs($event)"
    ></pe-header>
    <div class="w-100">
      <div class="w-100 relative">
        <router-outlet name="secondRouter"></router-outlet>
        <pe-map-component
          *ngIf="showMap"
          [savedLocation]="setting.savedLocationFlag"
          [showTour]="setting.showTour"
          [scope]="scope"
          (zoomActivator)="zoomActivatorFunction()"
        ></pe-map-component>
      </div>
    </div>
    <div></div>
  </div>

  <div
    *ngIf="setting && setting.openModalLocationRoute"
    class="modal-absolute w-100 text-center"
  >
    <div class="inner w-100 text-left">
      <div class="relative">
        <router-outlet></router-outlet>
        <i
          class="fa fa-close fa-2x close-button-top-right"
          (click)="setting.openModalLocationRoute = false"
        ></i>
      </div>
    </div>
  </div>
</div>
<div class="parent-layer" *ngIf="skip >= 0 && skip < 2">
  <div class="adv2 animated-fadein bg-dark-orange">
    <h4 class="text-font-fantasy font-fairytail text-large bg-dark-orange">
      Wellcome to Crown Plaza !
    </h4>
    <img src="../assets//img/tour.png" class="w-50" />
    <div class="bg-dark-orange w-100">
      <span
        class="btn m-2 btn-outline-light text-light cursor-pointer"
        (click)="skipNext()"
      >
        Skip
      </span>
    </div>
    <div class="bg-dark-orange w-100">
      <span
        class="btn btn-tour m-2 text-light cursor-pointer"
        (click)="showTours()"
      >
        Start Tour
      </span>
    </div>
  </div>
</div>
