@media (max-width:1000px) {
  .adv2{
    width: 100%;
    left: 0%;
    top:0px;
  }
  .d-fixed{
    width: 90% !important;
    left: 5% !important;
  }
}
@media (min-width:1200px) {
  .adv2{
    width: 50%;
    left: 25%;
    top: 10%;
  }

}


.adv{
  position: fixed;
  width: 100%;
  text-align: center;
  height: 320px;
  background-color: white;
  top: 0px;
  left: 0px;
  z-index: 1202;
  animation: cross 1s forwards;

}
@keyframes cross {
  0%{
    left:-100%
  }
  25%{
    left:20%
  }
  100%{
    right:0
  }
}

.adv2{
  position: fixed;
  text-align: center;
  height: 300px;
  background-color: white;
  z-index: 1205;
}
.skip1{
  animation: skip 1s forwards;
}
@keyframes skip {
  0%{
    rigth:0
  }
  50%{
    left:-100px
  }
  100%{
    left:5000px
  }
}

.sidenav-content {
    align-items: center;
    justify-content: center;
}
  .menu{
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .d-relative{
    position:relative
  }
  @media (min-width:1400px) {
    .sidenav{
      width: 50%;
      z-index: 2147483647 !important;
      
    }
}
@media (max-width:1200px) {
  .sidenav{
    width: 80%;
    background-color: white !important;
    height: 1800px !important;
    z-index: 2147483640 !important;
    position:static !important;
  }
}
  .relative{
    position: relative !important;
  }
.tour>div>p{
  font-size: 2em;
  cursor: pointer;
}
.tour>div>p:hover{
  color: orange;
}
.padding-bottom{
  padding-bottom: 50px;
}
text-light{
  color:white !important
}
.tips{
  text-align: left;
  padding: 0em;
}
.transparent-background-loading{
  width: 100%;
  height: 100%;
  z-index:1000;
  background-color: rgba(14, 7, 78, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  position: fixed;
}
.d-fixed{
  position: fixed;
  left: 15%;
  width: 70%;
  height: 90%;
  overflow: scroll !important;
  top:10%;
  z-index: 500 !important;
}