<div *ngIf="setting.loadingProgress">
  <pe-loading-progress [mode]="'animated'"></pe-loading-progress>
</div>

<div class="w-100 relative">
  <div class="bg-light w-100">
    <pe-header
      (savedLocation)="savedLocation($event)"
      (resultOutputs)="resultOutputs($event)"
    ></pe-header>
    <div class="w-100">
      <div class="w-100 relative">
        <router-outlet name="secondRouter"></router-outlet>
        <pe-map-component
          *ngIf="showMap"
          [savedLocation]="setting.savedLocationFlag"
          [showTour]="setting.showTour"
          [scope]="scope"
          (zoomActivator)="zoomActivatorFunction()"
        ></pe-map-component>

        <!--
          <div class="footer pt-high">
             <pe-footer *ngIf="!showMap"></pe-footer>
            </div>
          -->
      </div>
    </div>
    <div></div>
  </div>

  <div
    *ngIf="setting && setting.openModalLocationRoute"
    class="modal-absolute w-100 text-center"
  >
    <div class="inner w-100 text-left">
      <div class="relative">
        <router-outlet></router-outlet>
        <i
          class="fa fa-close fa-2x close-button-top-right"
          (click)="setting.openModalLocationRoute = false"
        ></i>
      </div>
    </div>
  </div>
</div>

<!-- 

  <div class="adv2 animated-fadein bg-danger" *ngIf="skip >= 0 && skip < 2">
    <img src="../assets//img/tour.png" class="w-50" />
  <div class="bg-danger w-100">
    <span
      class="btn btn-outline-light text-light cursor-pointer"
      (click)="skipNext()"
    >
    Skip
  </span>
</div>
<div class="bg-danger w-100">
  <span
  class="btn bg-green text-dark p-2 m-2 cursor-pointer"
  (click)="showTours()"
  >
  Start Tour
    </span>
  </div>
</div>

-->
