<div
  class="btn-bottom p-1 bg-light text-dark"
  *ngIf="!showContent"
  (click)="showContent = true"
>
  <span class="fw-bold">
    {{ 'knownPlaces' | translate }} {{ location[0].city }}
  </span>
</div>
<div class="transparent-bg-div animated-fadein w-100" *ngIf="showContent">
  <div
    class="text-center p-1 bg-light text-dark w-100 border"
    (click)="showContent = false"
  >
    <span class="fw-bold w-100 text-center">
      {{ 'knownPlaces' | translate }} {{ location[0].city }}
    </span>
    <span>
      <i class="fa fa-close"></i>
    </span>
  </div>
  <div>
    <div
      *ngFor="let types of locationType; let i = index"
      [attr.id]="'p' + types.type"
    >
      <ng-container *ngIf="orderByType(types.type).length > 0">
        <div class="bg-light text-dark p-2 fw-bolder text-capitalize">
          {{ types.type }}
        </div>

        <esn-carousels
          (viewOnMap)="viewOnMaps($event)"
          [id]="types.type"
          [info]="info"
          [data]="orderByType(types.type)"
        ></esn-carousels>
      </ng-container>
    </div>
  </div>
</div>
