<div class="m-4 review-frame w-75">
  <div class="cursor-pointer title-bar">Result and comparison</div>
  <div
    *ngFor="let item of tripReview?.trip; let i = index"
    class="m-2 d-relative trip-frame p-2"
  >
    <span class="fw-bold steps">
      {{ i + 1 }}
    </span>
    <br />
    <div class="m-3">
      <p class="text-capitalize fw-bold">
        <span class="fw-bold border-bottom">
          {{ item.locationTitle }}
        </span>
      </p>
      <div class="w-100 containers">
        <div class="item header"><span>Items</span></div>
        <div class="item header"><span>Program</span></div>
        <div class="item header"><span>Real Value</span></div>
        <div class="item header"><span>Tolerance</span></div>
        <ng-container>
          <div class="item header"><span>Money</span></div>
          <div class="item">
            <span>{{ trip.trip[i].moneyLost }}$</span>
          </div>
          <div class="item">
            <span>{{ item.moneyLost }}$</span>
          </div>
          <div
            class="item"
            vehicleDirective
            [valueChanged]="trip.trip[i].moneyLost >= item.moneyLost"
          >
            <span
              [innerHTML]="
                trip.trip[i].moneyLost - item.moneyLost | moneyCompare
              "
            >
            </span>
          </div>

          <div class="item header"><span>Date</span></div>
          <div class="item">
            <span>{{
              trip.trip[i].dateIncome + ' ' + trip.trip[i].timeIncome
            }}</span>
          </div>
          <div class="item">
            <span>{{ item.dateIncome + ' ' + item.timeIncome }}</span>
          </div>
          <div
            class="item"
            vehicleDirective
            [valueChanged]="
              dateDifference(
                trip.trip[i].dateIncome,
                trip.trip[i].timeIncome,
                item.dateIncome,
                item.timeIncome,
                true
              ).includes('0 D ,0 H')
            "
          >
            <span
              [innerHTML]="
                dateDifference(
                  trip.trip[i].dateIncome,
                  trip.trip[i].timeIncome,
                  item.dateIncome,
                  item.timeIncome,
                  true
                ) | timeCompare
              "
            >
            </span>
          </div>
          <div class="item header"><span>vehicle</span></div>
          <div class="item">
            <span>{{ trip.trip[i].vehicle }}</span>
          </div>
          <div class="item">
            <span>{{ item.vehicle }}</span>
          </div>
          <div
            class="item"
            vehicleDirective
            [valueChanged]="trip.trip[i].vehicle === item.vehicle"
          >
            <span
              [innerHTML]="
                trip.trip[i].vehicle === item.vehicle | vehicleCompare
              "
            >
            </span>
          </div>
        </ng-container>
      </div>
      <!--   <p
        *ngIf="
          dateDifference(
            trip.trip[i].dateIncome,
            trip.trip[i].timeIncome,
            item.dateIncome,
            item.timeIncome,
            false
          ) > 0
        "
      >
        You have delay on this location ~{{
          dateDifference(
            trip.trip[i].dateIncome,
            trip.trip[i].timeIncome,
            item.dateIncome,
            item.timeIncome,
            false
          )
        }}
        days
      </p>
      <p
        *ngIf="
          dateDifference(
            trip.trip[i].dateIncome,
            trip.trip[i].timeIncome,
            item.dateIncome,
            item.timeIncome,
            false
          ) < 0
        "
      >
        You get
        {{
          dateDifference(
            trip.trip[i].dateIncome,
            trip.trip[i].timeIncome,
            item.dateIncome,
            item.timeIncome,
            false
          ) * -1
        }}
        days
      </p>
      <p
        class="text-green"
        *ngIf="
          dateDifference(
            trip.trip[i].dateIncome,
            trip.trip[i].timeIncome,
            item.dateIncome,
            item.timeIncome,
            false
          ) === 0
        "
      >
        Great !
      </p>
      <p
        *ngIf="trip.trip[i].moneyLost > item.moneyLost"
        class="item"
        vehicleDirective
        [valueChanged]="trip.trip[i].moneyLost >= item.moneyLost"
      >
        <span>
          You misss
          {{ trip.trip[i].moneyLost - item.moneyLost }}
          $ on this location
        </span>
      </p>-->
    </div>
  </div>
  <div class="w-50">
    <div class="m-3 d-flex">
      <div class="col-md-2">Economic</div>
      <div
        class="col-md-10"
        [style]="{ width: '10%' }"
        class="bg-primary score-line m-2"
      ></div>
    </div>

    <div class="m-3 d-flex">
      <div class="col-md-2">Time Fit</div>
      <div class="col-md-10" class="bg-warning score-line m-2"></div>
    </div>

    <div class="m-3 d-flex">
      <div class="col-md-2">Structure</div>
      <div class="col-md-10" class="bg-green score-line m-2"></div>
    </div>
  </div>
</div>
