<h2 class="title-bar">My trip as leader !</h2>
<ng-container *ngIf="trips.length > 0; else emptyList">
  <div class="card m-2" *ngFor="let item of trips">
    <div class="card-body">
      <span class="text-large card-titel text-capitalize text-medium"
        >{{ item }}
      </span>
      <span>
        <i
          class="fa fa-close fa-2x cursor-pointer"
          (click)="deletePrepare(item)"
        ></i>
      </span>
    </div>
  </div>
</ng-container>
<ng-template #emptyList>
  <h4 class="text-muted p-2 m-4">Dont have any trip yet !</h4>
  <div>
    <img src="../../../assets/img/empty.png" />
  </div>
</ng-template>
<pe-confirm-modal
  *ngIf="confirmDelete"
  (resultEvent)="resultEvent($event)"
  [message]="'Delete the trip ' + selectedItemToDelete"
></pe-confirm-modal>
