<br />
<br />
<br />
<br />
<br />
<br />
<form [formGroup]="formSearchTrip">
  <mat-form-field class="w-100">
    <mat-label> {{ 'Search...' }}</mat-label>
    <input matInput formControlName="itemToSearch" class="" />
  </mat-form-field>
</form>
<div *ngFor="let item of trips" class="card m-4 w-75">
  <ng-container class="card-body">
    <ng-container
      *ngFor="let trip of item.tripjson"
      class="p-2 rounded m-1 border"
    >
      <div
        *ngIf="
          includes(trip.title, tripToSearch) ||
          tripToSearch === '' ||
          tripToSearch === ' '
        "
        class="d-flex flex-nowrap m-2 bg-light"
      >
        <div style="flex-basis: 85%">
          <div class="fw-bold w-75">
            <div class="row text-capitalize mb-2">
              <div class="col-md-6">
                {{ trip.title }}
              </div>
              <div class="col-md-6">
                ({{ trip.trip[0].dateIncome }} to
                {{ trip.trip[trip.trip.length - 1].dateIncome }})
              </div>
            </div>
            <div
              class="card-title p-2 text-small text-muted fw-bold text-capitalize border-bottom"
            >
              Manager:
              {{ item.name }}
              {{ item.family }}
            </div>
          </div>
          <div *ngFor="let location of trip.trip">
            <p class="text-small">
              <span>
                <i class="fa fa-map-marker"></i>
              </span>
              <span class="fw-bold text-capitalize">
                {{ location?.locationTitle }}
              </span>
              <span>
                : {{ location.dateIncome }}{{ location.timeIncome }} by
                {{ location?.vehicle }}
              </span>
            </p>
          </div>
          <div>
            <span *ngFor="let guest of fetchTripUsers(trip.title)">
              <img
                [class.opacity-1]="guest.confirmed === '1'"
                [title]="guest.name"
                src="https://d1hb67vd7r4m10.cloudfront.net/images/easyblog_articles/89/b2ap3_large_ee72093c-3c01-433a-8d25-701cca06c975.jpg"
                class="rounded-circle img-icon m-2"
              />
              <!--[alt]="guest.name" -->
            </span>
          </div>
        </div>
        <div style="flex-basis: 15%">
          <p>
            <span class="text-medium fw-bold"> {{ cost(trip.title) }}$ </span>
            <span class="text-dark text-small"> per person </span>
          </p>
          <p>
            <a
              *ngIf="!isAsked(trip?.title); else elseTmpl"
              (click)="ask(trip.title, item.uid)"
              class="btn btn-primary"
              >Ask to join</a
            >
            <ng-template #elseTmpl>
              <a (click)="ask(trip.title, item.uid)" class="btn btn-primary"
                >Revoke</a
              >
            </ng-template>
          </p>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
