<div
  style="width: fit-content"
  class="p-2 bg-light m-2"
  *ngIf="userList.length > 0; else elseTmpl"
>
  <div class="d-flex flex-nowrap">
    <div
      *ngFor="let item of userList"
      (click)="remove(item)"
      class="d-relative m-1"
    >
      <img
        [alt]="item.name + ' ' + item.family"
        [title]="item.name + ' ' + item.family"
        [src]="
          'https://burjcrown.com/drm/travel/users/profile/' +
          item.user_id +
          '/1.jpg?id=1'
        "
        class="img-icon"
      />
      <div class="on-layer text-layer row w-100">
        <h5 class="text-capitalize name-text p-1">
          <span>
            {{ item.name }}
          </span>
          <span>
            {{ item.family }}
          </span>
        </h5>
      </div>
    </div>
  </div>
  <div>
    <button *ngIf="addPermission" mat-raised-button (click)="addUser()">
      Add Guest
    </button>
  </div>
</div>

<ng-template #elseTmpl>
  <div class="w-100">
    <button *ngIf="addPermission" mat-raised-button (click)="addUser()">
      Add Guest
    </button>
  </div>
</ng-template>
