<br />
<br />
<br />
<br />
<br />
<br />
<br />
<span>
  <h3 class="p-2">
    {{ tripTitle }}
  </h3>
</span>
<span>
  <pe-trip-user
    [addPermission]="ownerPermission"
    [tripTitle]="tripTitle"
  ></pe-trip-user>
</span>
<div>
  <button
    mat-button
    (click)="cancelTripConfirm = true"
    *ngIf="!cancelTripConfirm; else esleTmpl"
  >
    cancel this trip
  </button>
  <ng-template #esleTmpl>
    <button
      mat-button
      (click)="cancelTrip(tripTitle)"
      *ngIf="cancelTripConfirm"
    >
      confirm !
    </button>
  </ng-template>
</div>

<div *ngFor="let item of trip.trip; let i = index" class="p-4">
  <div>
    <div class="w-50 border-bottom m-2 p-1">
      <span class="fw-bold">
        Location {{ i + 1 }} . {{ item.locationTitle | uppercase }}
      </span>
    </div>
  </div>
  <div class="w-100 trips">
    <div class="d-flex">
      <div>
        <span> Arrive date</span>
      </div>
      <div>
        <input
          joyrideStep="fifthStep"
          type="date"
          matInput
          [readonly]="!ownerPermission"
          (change)="
            change($event, item.locationTitle, 'dateIncome', item, tripTitle)
          "
          [value]="item.dateIncome"
          text="You can change values you inserted before"
        />
        <span
          *ngIf="ownerPermission"
          joyrideStep="fourthStep"
          style="flex-basis: 7%"
          class="text-review"
          text="You can insert real value occured at your trip !"
          (click)="review(item.locationTitle, 'dateIncome', item)"
        >
          / real value
        </span>
      </div>
    </div>
    <div class="d-flex">
      <div>
        <span> on </span>
      </div>

      <div>
        <input
          (change)="
            change($event, item.locationTitle, 'timeIncome', item, tripTitle)
          "
          type="time"
          matInput
          [value]="item.timeIncome"
          [readonly]="!ownerPermission"
        />
        <span
          *ngIf="ownerPermission"
          style="flex-basis: 7%"
          class="text-review"
          (click)="review(item.locationTitle, 'timeIncome', item)"
        >
          / real value
        </span>
      </div>
    </div>
    <div class="d-flex">
      <div>
        <span>Number of person </span>
      </div>
      <div>
        <input
          (change)="
            change($event, item.locationTitle, 'persons', item, tripTitle)
          "
          type="number"
          matInput
          [value]="item.persons"
          [readonly]="!ownerPermission"
        />
        <span
          *ngIf="ownerPermission"
          style="flex-basis: 7%"
          class="text-review"
          (click)="review(item.locationTitle, 'persons', item)"
        >
          / real value
        </span>
      </div>
    </div>
    <div class="d-flex">
      <div>
        <span>Vehicle </span>
      </div>
      <div>
        <input
          (change)="
            change($event, item.locationTitle, 'vehicle', item, tripTitle)
          "
          type="text"
          matInput
          [value]="item.vehicle"
          [readOnly]="!ownerPermission"
        />

        <span
          *ngIf="ownerPermission"
          style="flex-basis: 7%"
          class="text-review"
          (click)="review(item.locationTitle, 'vehicle', item)"
        >
          / real value </span
        ><span></span>
      </div>
    </div>
    <div class="d-flex">
      <div>
        <span> Cost </span>
      </div>
      <div>
        <input
          (change)="
            change($event, item.locationTitle, 'moneyLost', item, tripTitle)
          "
          type="number"
          matInput
          [value]="item.moneyLost"
          [readOnly]="!ownerPermission"
        />$
        <span
          *ngIf="ownerPermission"
          style="flex-basis: 7%"
          class="text-review"
          (click)="review(item.locationTitle, 'moneyLost', item)"
        >
          / real value
        </span>
      </div>
    </div>
  </div>
</div>

<pe-review-trip></pe-review-trip>
