.mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }
  div>span{
    cursor: pointer;
  }


   .mat-panel-title span{
    font-weight: bold !important;
}
input{
    color: var(--COLOR-MUTED) !important;
    width: 60%;
    cursor: pointer;
    font-weight: bold;
    text-align: center !important;
}
.trips>div{
  padding: 0.5em;
}
.text-review{
  font-weight: bold;
}
.d-flex>div:nth-child(1){
  text-align:left;
  flex-basis: 50%;
}
.d-flex>div:nth-child(2){
  text-align:left;
  flex-basis: 50%;
}

@media only screen and (max-width: 1200px) {
  .trip-frame{
    width: 100% !important;
  }
 }
 .trip-frame{
  background-color: var(--COLOR-LIGHT);
  margin: 0.5em;
 }

 .steps{
  position: absolute;
  left: 0.2em;
  top: 0.2em;
  margin: 0.5em;
 }

 .d-relative{
  position: relative;
 }