<div class="text-center w-100 bg-light">
  <br />
  <br />
  <div class="inner w-75 bg-light">
    <div class="row bg-light">
      <div class="col-md-4 relative">
        <div *ngIf="uploading" class="on-layer">
          <img src="../../../assets//img//loading.png" class="img-icon" />
        </div>
        <img
          class="w-100"
          [src]="
            'https://burjcrown.com/drm/travel/users/profile/' +
            userId +
            '/1.jpg?id=' +
            timeStamp()
          "
        />
        <div class="banner-bottom row flex-cell text-center">
          <div class="text-left">
            <span class="border p-2 cursor-pointer" (click)="openFile('file')"
              >Upload Images</span
            >
            <input
              style="visibility: hidden"
              (change)="onFileChange($event)"
              class="input-file-upload"
              type="file"
              id="file"
              #id
              name="file"
              formControlName="file"
            />
          </div>
        </div>
      </div>
      <div class="col-md-8 p-3">
        <form
          class="form w-50"
          (ngSubmit)="updateInfo()"
          [formGroup]="formSetting"
        >
          <div>
            <mat-form-field class="w-100">
              <mat-label class="text-capitalize">First Name</mat-label>
              <input matInput formControlName="name" value="Mahya" />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="w-100">
              <mat-label class="text-capitalize">Last Name</mat-label>
              <input matInput formControlName="lname" value="Mahya" />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="w-100">
              <mat-label class="text-capitalize">Email</mat-label>
              <input matInput formControlName="email" value="Mahya" />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="w-100">
              <mat-label class="text-capitalize">Password</mat-label>
              <input
                matInput
                type="password"
                formControlName="pass"
                value="Mahya"
              />
            </mat-form-field>
          </div>
          <div>
            <button
              mat-stroked-button
              class="btn-master-orange"
              type="submit"
              [disabled]="!formSetting.valid"
            >
              update
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="p-2 w-75 bg-light m-4">
      <div class="title-bar text-medium text-left">Aboue me</div>
      <form [formGroup]="formAboutMe" (ngSubmit)="updateAboutme()">
        <div class="m-1 p-3 text-left">
          <textarea class="w-100" formControlName="aboutme"> </textarea>
        </div>
        <div>
          <button
            [disabled]="!formAboutMe.valid"
            mat-stroked-button
            class="btn-master-orange"
            type="submit"
          >
            update
          </button>
        </div>
      </form>
    </div>

    <div class="m-4 p-1 w-75 bg-light">
      <div class="title-bar text-left">wallet connect</div>
      <div class="row text-left">
        <div style="flex-basis: 50%" class="p-2">
          <button (click)="openDialog()" mat-stroked-button class="bg-light">
            connect
          </button>
        </div>
        <div style="flex-basis: 50%">0x10w0c1er87vf0rfe45rv54e0f54re</div>
      </div>
    </div>
  </div>
</div>
